.game {
  width: 300px;
  padding: 20px;

  button {
    margin-top: 60px;
  }

  .v-lines {
    position: absolute;
    width: 300px;
    height: 300px;
    pointer-events: none;

    .v-line {
      display: inline-block;
      position: relative;
      margin-left: 80px;
      margin-right: 14px;
      height: 280px;
      width: 3px;
      background: black;
    }
  }

  .h-lines {
    position: absolute;
    width: 300px;
    height: 300px;
    pointer-events: none;

    .h-line {
      position: relative;
      margin-top: 90px;
      margin-bottom: 92px;
      height: 3px;
      width: 280px;
      background: black;
    }
  }

  .import {
    input {
      width: 400px;
    }
  }
}