tile-component {
  display: inline-block;
  width: 33px;
  height: 33px;

  form {
    margin: 0;
  }

  input {
    width: 15px;
    border: none;
  }

  &.is-wrong {
    input {
      background-color: rgba(red, 0.5);
    } 
  }
}